// column count
$grid-columns: 12 !default;

// Gutter types
$gutter-sm: 5px !default;
$gutter-md: 15px !default;
$gutter-lg: 30px !default;

// Media breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;